.vacancies {
    padding-top: 97px;
    padding-bottom: 62.5px;
    position: relative;
    @media (max-width: $md3+px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__decor {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;

        & img {
            width: 100%;
            display: block;
            height: auto;
            transform: translateY(-50%);
        }
    }

    &__body {
        max-width: 1125px;
        position: relative;
        z-index: 2;
    }

    &__title {
        margin-bottom: 27px;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }
    }

    &__list {
        & > li {
            &:not(:last-child) {
                margin-bottom: 40px;

                @media (max-width: $md4+px) {
                    margin-bottom: 20px;
                }
            }
        }
    }

}

.vacancy-card {
    display: flex;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s ease;
    color: $textColor;
    box-shadow: 0 11px 55px 10px rgba(0, 0, 0, 0.07), 0 13px 18px -8px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;

    @media (min-width: 992px) {
        &:hover {
            box-shadow: 0 11px 55px 10px rgba(0, 0, 0, 0.07), 0 13px 18px -8px rgba(0, 0, 0, 0.15);
            background-color: #ffffff;
        }
    }

    @media (max-width: $md4+px) {
        display: block;
    }

    &__img {
        flex: 0 0 297px;
        min-height: 160px;
        border-radius: 2px;
        overflow: hidden;

        @media (max-width: $md3+px) {
            flex: 0 0 160px;
            min-height: 100px;
        }

        @media (max-width: $md4+px) {
            min-height: 160px;
        }
    }

    &__text-wrap {
        flex: 1 1 auto;
        padding: 26px 27px 18px 32px;

        @media (max-width: $md3+px) {
            padding: 15px;
        }
    }

    &__title {
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.2em;
        text-transform: uppercase;
    }

    &__text {
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: -0.3px;
        line-height: 18px;
        margin-bottom: 8px;
    }

    &__bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;

        & .btn-default {
            margin-bottom: 10px;
        }
    }

    &__flex-group {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    &__flex-item {
        display: flex;
        align-items: center;
        margin: 5px 0;
        margin-right: 25px;

        font-size: 11px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: -0.3px;
        line-height: 18px;

        & img {
            max-height: 14px;
            margin-right: 16px;
            flex: 0 0 auto;
        }
    }
}
