.cta {
    background: linear-gradient(0deg, #24272a, #24272a);
    margin-bottom: 160px;
    padding-top: 124px;
    padding-bottom: 90px;

    @media (max-width: $md3+px) {
        margin-bottom: 60px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    & .container {
        max-width: 1120px;
        display: flex;
        flex-direction: column;
    }

    & .btn-default {
        margin-left: auto;
    }

    &__body {
        color: #fff;
        max-width: 1040px;
        margin: 0 auto 20px;
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__col-1 {
        flex: 1 1 auto;
  
        @media (min-width: 768px) {
            margin-right: 28px;

        }
    }

    &__col-2 {
        flex: 0 0 42.3%;
    }

    &__title {
        margin-bottom: 50px;
        &.title-4 {
            color: #fff;
            text-align: center;
            font-size: 32px;
            line-height: 1.375em;
            font-weight: 500;
            text-transform: uppercase;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 25px;

            &.title-4 {
                font-size: 22px;
            }
        }
    }

    & .link-icon-left {
        color: #fff;
        margin-bottom: 48px;

        @media (max-width: $md3+px) {
            margin-bottom: 25px;
        }
    }

    &__text {
        background: rgba(#fff, 0.05);
        mix-blend-mode: normal;
        border-radius: 0px 40px 0px 0px;
        height: 100%;
        padding: 30px;

        @media (max-width: $md3+px) {
            padding: 20px;
        }

        &.text-content {
            font-size: 17px;
            line-height: 1.41em;

            @media (max-width: $md3+px) {
                font-size: 14px;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__btn-group {
        & .btn-default {
            margin-right: 22px;
            margin-bottom: 10px;
        }
    }

    &__form {
        background-color: #fff;
        box-shadow: 0px 13px 18px -8px rgba(0, 0, 0, 0.15), 0px 11px 55px 10px rgba(0, 0, 0, 0.07);
        border-radius: 2px;
        margin-bottom: -76px;
        padding: 60px 106px 60px 69px;
        width: 100%;

        @media (min-width: 768px) {
            max-width: 510px;
        }

        @media (max-width: $md2+px) {
            padding: 60px 40px;
        }

        @media (max-width: $md4+px) {
            padding: 30px 15px;
        }
    }

    &__video-wrap {
        margin-bottom: -76px;

        @media (min-width: 1268px) {
            width: calc(100% + 120px);
        }
        @media (min-width: 768px) {
            max-width: 617px;
        }
    }

    & .form__group {
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }

    & .form__item {
            margin-bottom: 20px;
        
        &:last-child {
            margin-bottom: 0;
        }

        & .input {
            height: 90px;
            border-radius: 2px;
            background-color: rgba(#fff, 0.05);
            font-size: 17px;
            color: #fff;
            border: none;
            padding-left: 30px;
            padding-right: 30px;

            &::placeholder {
                font-size: 17px;
                color: #fff;
            }

            @media (max-width: $md3+px) {
                height: 60px;
                font-size: 14px;
                padding-left: 20px;
                padding-right: 20px;
            }

        }
    }
}

.form {
    &__title {
        margin-bottom: 20px;
    }

    &__group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__item {
        margin-bottom: 20px;
        flex: 0 1 100%;
    }

    &__item-half {
        @media (min-width: 480px) {
            flex: 0 1 calc(50% - 10px);
        }
    }
}
