

//<ШРИФТЫ>===========================================================================================================
$berninoSansCondensed: "termina", sans-serif;
$berninaSans: "termina", sans-serif;
$berninaSansComp: "termina", sans-serif;
$berninaSansCondensed: "termina", sans-serif;
$berninaSansNarrow: "termina", sans-serif;
$berninoSans: "termina", sans-serif;
$berninoSansComp:"termina", sans-serif;
$berninoSansNarrow:"termina", sans-serif;

$mainFontFamily:  "termina", sans-serif;
$titleFontFamily: "Anton", sans-serif;
//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: 1267.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #000;
$mainColor:  #1bacd6;
$mainColor2: #3fc453;
//$hover: #158cad;
$hover: #3fc453;
$gradient: linear-gradient(to right, #1bacd6 0%, #3fc453 100%);
