.black-box {
    background-color: #24272a;
    min-height: 140px;
    padding: 30px 36px 30px 51px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    position: relative;

    @media (max-width: $md2+px) {
        padding: 30px 36px 30px 36px;
    }

    & .btn-default  {
      align-self: flex-start;  
    }


    & > * {
        &:last-child {
            margin-bottom: 0;
        }
    }

    &.black-box_top-left {
        border-radius: 42px 2px 2px 2px;
    }

    &.black-box_top-right {
        border-radius: 2px 42px 2px 2px;
    }

    &.black-box_bottom-right {
        border-radius: 2px 2px 42px 2px;
    }
    &.black-box_bottom-left {
        border-radius: 2px 2px 2px 42px;
    }

    &__big-text {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $berninoSansNarrow;
        font-size: 22px;
        font-weight: 700;
        line-height: 36px;

        @media (min-width: 768px) {
            font-size: 30px;
            padding: 30px 70px 30px 44px;
        }
    }

    &__flex {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -15px;

        @media (max-width: $md1+px) {
            justify-content: space-between;
        }
    }

    &__col-1 {
        flex: 0 1 auto;
        padding: 0 15px;
        margin: 10px 0;
    }

    &__col-2 {
        flex: 0 1 auto;
        padding: 0 15px;
        margin: 10px 0;
    }

    &__suptitle {
        color: #009fe3;
        font-size: 14px;
        line-height: 1.28em;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: 400;

        @media (max-width: $md4+px) {
            font-size: 12px;
        }
    }

    &__title {
        font-size: 17px;
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: 10px;
        text-transform: uppercase;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text {
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
    }

    &__list {
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 44px;
        & > li {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 26px;
            }

            & img {
                flex: 0 0 auto;
                margin-right: 24px;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
