.footer {
    background-color: #24272a;
    color: #fff;
    position: relative;

    &__body {

        @media (min-width: 992px) {
            display: flex;
        }

        @media (max-width: $md2+px) {
            padding-top: 60px;
        }
    }

    &__col-1 {
        @media (min-width: 992px) {
            padding-top: 122px;
            padding-bottom: 50px;
            min-height: 480px;
            flex: 0 1 50%;
            padding-right: 20px;
            margin-bottom: 0;
            border-right: 1px solid #fff;
        }

        @media (max-width: $md2+px) {
            margin-bottom: 50px;
        }
        @media (max-width: $md3+px) {
            margin-bottom: 30px;
        }


        @media (min-width: 1268px) {
            & .btn-default {
                margin-left: -11px;
            }
        }
    }

    &__col-2 {

        @media (min-width: 992px) {
            min-height: 480px;
            flex: 0 1 50%;
            padding-top: 91px;
            padding-left: 125px;
            padding-bottom: 50px;
        }

        @media (max-width: $md1+px) {
            padding-left: 50px;
        }
        
        @media (max-width: $md2+px) {
            padding-left: 0;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 30px;
        }
    }

    &__logo {
        width: 100%;
        max-width: 110px;
        margin-bottom: 46px;

        @media (max-width: $md3+px) {
            margin-bottom: 26px;
            max-width: 88px;
        }
        & img {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        margin-bottom: 24px;

        @media (min-width: 1268px) {
            margin-left: -11px;
        }
    }

    &__text {
        max-width: 271px;
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 26px;
        
    }

    &__link {
        color: #ffffff;
        font-family: $berninoSansNarrow;
        font-size: 13px;
        font-weight: 700;
        line-height: 1.4em;
        text-decoration: underline;
        transition: all 0.3s ease;
        margin-bottom: 29px;
        display: inline-block;

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor;
                text-decoration: underline;
            }
        }
    }

    &__nav {
        @media (min-width: 992px) {
            margin-bottom: -58px;
        }

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
  
            
            & > li {
                flex: 0 1 50%;
                padding-right: 20px;
                margin-bottom: 58px;

                &:nth-child(even) {
                    transform: translateX(20px);
                }
            }
        }

        & > li {
            &:not(:last-child) {
                @media (max-width: $md3+px) {
                    border-bottom: 1px solid #fff;
                }
            }
        }




    }

    &__nav-title {
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
        transition: all 0.3s ease;
        display: inline-block;
        text-transform: uppercase;

        @media (min-width: 768px) {
            margin-bottom: 27px;
        }

        @media (max-width: $md3+px) {
            position: relative;
            padding-right: 35px;
            min-height: 48px;
            padding-top: 12px;
            padding-bottom: 12px;
            display: flex;
            align-items: center;

            &:after {
                position: absolute;
                font-family: "icomoon";
                content: "\e904";
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                transition: all 0.3s ease;

                @media (max-width: $md2+px) {
                    transform: translateY(-50%) rotate(-90deg);
                    font-size: 8px;
                    font-weight: 400;
                    right: 15px;
                }
            }

            &.active {
                &:after {
                    transform: translateY(-50%) rotate(-180deg);
                }
            }
        }

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor;
            }
        }
    }

    &__nav-list {
        @media (max-width: $md3+px) {
           display: none;
           margin-bottom: 30px;
        }
        @media (min-width: 768px) {
            display: block !important;
        }
        & > li {
            &:not(:last-child) {
                margin-bottom: 9px;
            }
        }
    }

    &__nav-link {
        color: #fff;
        font-size: 13px;
        line-height: 1.4em;
        transition: all 0.3s ease;

        @media (min-width: 992px) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__bottom {
        @media (min-width: 768px) {
            border-top: 1px solid #fff;

            & .social li {
                margin-bottom: 0;
            }
        }
    }

    &__bottom-body {

        font-size: 11px;
        line-height: 21px;
        flex-wrap: wrap;

        @media (min-width: 1268px) {
            padding-right: 116px;

            & .social {
                margin-left: -11px;
            }
        }

        @media (min-width: 768px) {
            min-height: 105px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__copy {
        margin-right: 30px;

        @media (max-width: $md3+px) {
            margin-bottom: 25px;
        }
    }

    &__bottom-text {
        position: relative;
        z-index: 2;
        @media (max-width: $md3+px) {
            color: $textColor;
            display: flex;
            min-height: 50px;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 10px;
            &:before {
                display: block;
                position: absolute;
                content: '';
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100vw;
                height: 100%;
                background-color: #fff;
                z-index: -1;
            }

            & > div:not(.footer__bottom-text-mobile) {
                font-size: 0;
            }
        }

        & a {
            color: #fff;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__bottom-text-mobile {
        @media (min-width: 768px) {
            display: none;
        }
    }
}
