.about-page {
    & .text-block {
        @media (min-width: 768px) {
            margin-bottom: 65px;
        }
    }

    & .article {
        padding-top: 60px;
        @media (min-width: 768px) {
            padding-top: 130px;
            margin-bottom: 142px;
        }
    }

    & .article__body {
        margin: 0 auto;

        &.container {
            max-width: 1240px;
        }

        & > * {
            max-width: none;
        }

        &.text-content {
            & > h3:first-child {
                text-align: center;

                @media (min-width: 992px) {
                    margin-bottom: 83px;
                }
            }

            & q {
                margin-bottom: 1.5em;
            }

            & p {
                font-size: 15px;
                line-height: 25px;

                &.big-text {
                    font-size: 17px;
                    line-height: 28px;
                }
            }
        }

        & .text-col-2 {
            @media (min-width: 992px) {
                column-gap: 94px;
            }
        }
    }

    & .cta__col-1 {
        &:before {
            left: 68%;
        }
    }
}
