.article-single-page {
    & .promo-header__title {
        max-width: 723px;
        margin: 0 auto;
        width: 100%;
        text-align: left;
    }

    & .hero__body  {
        padding-bottom: 0;

        // @media (max-width: $md2+px) {
        //     padding-top: 0;
        //     height: 400px;
        // }
        // @media (max-width: $md3+px) {
        //     height: 292px;
        // }
    }
}
.article {
    margin-bottom: 82px;

    @media (max-width: $md3+px) {
        margin-bottom: 50px;
    }

    &__body {
        max-width: 1124px;

        & .top {
            margin-bottom: 24px;
            font-size: 12px;
            line-height: 35px;
            & .card-label {
                margin-right: 21px;
            }
        }

        & > *:not(figure) {
            max-width: 723px;
            margin-left: auto;
            margin-right: auto;
        }

        &.text-content {
            font-size: 17px;
            line-height: 165%;
        }
    }
}

.read-also {
    background: #f1f1f1;
    padding: 103px 0 75px;
    position: relative;
    overflow: hidden;

    @media (max-width: $md3+px) {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    &__decor {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        transform: translateY(50%);
    }

    & .container {
        position: relative;
        z-index: 2;
    }

    &.read-also_transparent {
        margin-bottom: 88px;
        padding: 0;
        background-color: transparent;

        @media (max-width: $md3+px) {
            margin-bottom: 40px;
        }
    }

    &__head {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 23px;

        & .link-icon-right {
            margin-bottom: 25px;
        }
    }

    &__title {
        margin-bottom: 20px;
        margin-right: 20px;
    }
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -11.5px;

    & > li {
        padding: 0 11.5px;
        flex: 0 1 33.3333%;
        margin-bottom: 42px;

        @media (max-width: $md2+px) {
            flex: 0 1 50%;
        }
        @media (max-width: $md3+px) {
            flex: 0 1 100%;
        }

        @media (min-width: 992px) {
            &:nth-child(3n+2) {
                & .card-product__head, & .card__text-wrap {
                    text-align: center;
                }
            }
            &:nth-child(3n+3) {
                & .card-product__head, & .card__text-wrap {
                    text-align: right;
                }
            }
        }
    }
}

.news-card-v2 {
    transition: all 0.3s ease;
    border-radius: 0px 2px 2px 2px;
    overflow: hidden;
    display: block;
    @media (min-width: 992px) {
        &:hover {
            background: #ffffff;
            box-shadow: 0 11px 55px 10px rgba(0, 0, 0, 0.07), 0 13px 18px -8px rgba(0, 0, 0, 0.15);        }
    }
    &__img {
        padding-bottom: 59.4%;


        @media (max-width: $md4+px) {
            padding-bottom: 0;
            min-height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    &__label {
        position: absolute;
        top: 20px;
        left: 18px;
        z-index: 2;
    }

    &__head {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 3;
        padding: 35px 20px 19px;
        color: #ffffff;
        width: 100%;

        @media (max-width: $md4+px) {
            position: relative;

        }
    }

    &__title {
        font-family: $berninoSansNarrow;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-size: 13px;
        line-height: 1.3em;
    }

    &__bottom {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        min-height: 61px;
        padding: 10px 20px 10px 20px;
        justify-content: flex-end;

        & > span {
            @media (min-width: 992px) {
                &:hover {
                    color: $textColor;
                    text-decoration: underline;
                }
            }
        }
    }
}
