.promo-header {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 445px;
        z-index: -1;

        @media (max-width: $md2+px) {
            height: 344px;
        }
        @media (max-width: $md3+px) {
            height: 279px;
        }
        @media (max-width: $md4+px) {
            height: 252px;
        }
    }

    &__body {
        //  min-height: 655px;
        display: flex;
        flex-direction: column;
        padding-top: 311px;
        padding-bottom: 71px;
        color: #fff;

        @media (max-width: $md2+px) {
            padding-top: 240px;
        }

        @media (max-width: $md3+px) {
            padding-top: 200px;
            padding-bottom: 50px;
        }
    }

    &__top-text {
        position: absolute;
        top: 36px;
        left: 40px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.4em;
        text-transform: uppercase;
        opacity: 0.7;
        font-weight: 300;

        @media (max-width: $md3+px) {
            font-size: 15px;
        }
    }

    &__title {
        margin-bottom: 0px;

        & > strong:last-child {
            color: #000;
        }

        @media (max-width: $md1+px) {
            text-align: center;
        }
    }

    &__subtitle {
        max-width: 445px;
        color: #ffffff;
        font-family: $berninoSansNarrow;
        font-size: 15px;
        letter-spacing: 0.67px;
        line-height: 1.86em;
        text-transform: uppercase;
        margin-bottom: 22px;
    }

    &__flex-group {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        margin-top: auto;

        @media (max-width: $md1+px) {
            display: block;
        }

        & .black-box {
            margin-bottom: -1px;

            @media (min-width: 1440px) {
                margin-right: -92px;
            }

            @media (min-width: 1268px) {
                max-width: 495px;
                margin-right: -40px;
            }
        }
    }

    &__btn {
        margin-right: 30px;
        margin-bottom: 20px;
        min-height: 45px;
    }
}

.home-categor {
    // margin-top: -90px;
}

.news-updates-b {
    margin-bottom: 169px;

    @media (max-width: $md3+px) {
        margin-bottom: 50px;
    }

    &__title {
        margin-bottom: 23px;
    }

    &__body {
        @media (min-width: 992px) {
            display: flex;
        }
    }

    &__col-1 {
        margin-bottom: 40px;
        @media (min-width: 1268px) {
            margin-right: 100px;
        }

        @media (min-width: 992px) {
            margin-right: 50px;
            flex: 0 0 48.96%;
            margin-bottom: 0;
        }

        & .news-card__img {
            border-radius: 0 42px 0 0;
            overflow: hidden;
        }
    }

    &__col-2 {
        flex: 1 1 auto;

        & .news-mini-card {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}

.news-card {
    display: block;
    height: 100%;
    min-height: 460px;
    position: relative;
    color: #fff;
    font-family: $mainFontFamily;

    @media (min-width: 992px) {
        &:hover {
            &:before {
                opacity: 1;
            }
        }
    }

    &__img {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        right: 0;

        @media (min-width: 992px) {
            width: 50vw;
        }

        @media (max-width: $md3+px) {
            min-height: 360px;
        }
    }

    &__text-wrap {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        padding: 46px 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media (max-width: 575.98px) {
            display: block;

            & > div {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

        & > div {
            margin-right: 20px;
        }

        & .btn-default {
            flex: 0 0 auto;
        }

        @media (max-width: $md3+px) {
            padding: 30px 15px;
        }
    }

    &__label {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.2em;
        text-transform: uppercase;
        margin-bottom: 6px;
    }

    &__title {
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.2em;
    }

    &__text {
        padding-right: 20px;
        font-size: 14px;
        line-height: 20px;
        max-width: 420px;
    }
}

.news-mini-card {
    display: flex;
    color: $textColor;
    transition: all 0.3s ease;
    border-radius: 2px;
    overflow: hidden;
    @media (min-width: 992px) {
        &:hover {
            box-shadow: 0 11px 55px 10px rgba(0, 0, 0, 0.07), 0 13px 18px -8px rgba(0, 0, 0, 0.15);
            background-color: #ffffff;
        }
    }

    &__img {
        flex: 0 0 37.25%;
        min-height: 140px;
        max-width: 190px;
    }

    &__text-wrap {
        flex: 1 1 auto;
        padding: 14px 15px 16px 23px;
    }

    &__label {
        margin-bottom: 6px;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        color: $mainColor;
        font-family: $titleFontFamily;
        text-transform: uppercase;
    }

    &__title {
        font-size: 15px;
        font-weight: 600;
        line-height: 23px;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 12px;
        letter-spacing: -0.3px;
        line-height: 20px;
    }
}

.info-bun {
    &__top {
        position: relative;
        min-height: 619px;
        padding-top: 72px;
        color: #fff;

        @media (max-width: $md2+px) {
            min-height: 500px;
        }
        @media (max-width: $md3+px) {
            min-height: 400px;
        }
    }

    &__bottom {
    }

    &__bottom-body {
        min-height: 206px;
        padding-top: 20px;
        padding-bottom: 20px;

        @media (min-width: 992px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        & .left {
            margin-right: 30px;

            @media (max-width: $md2+px) {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }

        & .right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            @media (min-width: 992px) {
                max-width: 430px;
            }

            @media (max-width: $md4+px) {
                display: block;
            }

            & > div {
                margin-right: 20px;

                @media (max-width: $md4+px) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__body {
        padding-top: 460px;
        display: flex;
        align-items: center;
        max-width: 1125px;

        @media (max-width: $md2+px) {
            flex-direction: column-reverse;
            padding-top: 360px;
        }

        & .black-box {
            min-height: 180px;

            @media (max-width: $md2+px) {
                margin-bottom: 50px;
            }

            @media (min-width: 992px) {
                flex: 0 0 calc(48.89% + 84px);
                max-width: 510px;
                margin-left: -84px;
            }

            & .black-box__big-text {
                @media (min-width: 768px) {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
        }
    }

    &__card {
        box-shadow: 0 11px 55px 10px rgba(0, 0, 0, 0.07), 0 13px 18px -8px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        background-color: #ffffff;
        flex: 1 1 auto;
        width: 100%;
        padding: 30px 36px 30px 36px;

        @media (min-width: 768px) {
            min-height: 300px;
            padding: 54px 155px 54px 82px;
        }
    }

    &__title {
        margin-bottom: 23px;
    }

    &__bottom-title {
        font-size: 17px;
        font-weight: 700;
        line-height: 36px;
        text-align: left;
        text-transform: uppercase;
    }

    &__bottom-text {
        font-size: 15px;
        font-weight: 400;
        line-height: 36px;
    }

    &__bottom-title-label {
        font-size: 15px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: 36px;
        text-transform: uppercase;
    }
}

.vacancies-cta {
    padding-top: 62.5px;
    @media (max-width: $md3+px) {
        padding-top: 50px;
    }

    &__top {
        position: relative;
        margin-bottom: 106px;

        @media (max-width: $md3+px) {
            margin-bottom: 50px;
        }
    }

    &__decor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% + 106px);
        z-index: 1;
        overflow: hidden;

        @media (max-width: $md3+px) {
            height: calc(100% + 50px);
        }

        & img {
            width: 100%;
            height: auto;
            display: block;
            position: absolute;
            top: 54px;
            left: 0;

            @media (max-width: $md2+px) {
                top: auto;
                bottom: 0;
            }
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1257px;
        height: 100%;
        z-index: 2;
    }

    &__body {
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        align-items: center;
        min-height: 343px;
    }

    &__title {
        max-width: 582px;
        color: #fff;
        text-align: center;
        margin-bottom: 35px;

        font-size: 30px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: -0.3px;
        line-height: 40px;
    }

    &__btn-group {
        display: flex;

        & .btn-default {
            margin: 0 11px;
            white-space: nowrap;
        }
    }

    &__bottom {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 20px;
        justify-content: center;
        min-height: 200px;
    }

    &__bottom-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1265px;
    }

    &__bottom-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 20px;
        font-family: $berninoSansNarrow;
        font-size: 15px;
        letter-spacing: 0.67px;
        line-height: 1.3em;
        text-transform: uppercase;
        font-weight: 500;
        flex: 1 1 auto;

        & img {
            margin-right: 21px;
            max-height: 18px;
        }
    }
}
