.project-development-single-page {
    & .hero {
        & .black-box  {
            @media (min-width: 768px) {
                padding-top: 53px;
            }

            & .black-box__text {
                margin-bottom: 7px;
            }
        }
    }

    & .article {
        @media (min-width: 768px) {
            margin-bottom: 105px;
        }
    }


    & .article__body {
        max-width: 1340px;
        margin: 0 auto;

        & > * {
            margin-left: 0;
        }
    }
}

.home-types {
    margin-bottom: 100px;
    @media (max-width: $md3+px) {
        margin-bottom: 50px;
    }

    &.bg-grey {
        padding-top: 122px;
        padding-bottom: 120px;

        @media (max-width: $md2+px) {
            padding-top: 90px;
            padding-bottom: 90px;
    
        }
        @media (max-width: $md3+px) {
            padding-top: 60px;
            padding-bottom: 60px;
    
        }
    }

    &__title {
        margin-bottom: 64px;

        @media (max-width: $md2+px) {
            margin-bottom: 25px;
        }
    }

    &__body {

    }

    &__col-1 {
        margin-bottom: 60px;

    }

    &__col-2 {
        overflow: auto;
       & table {
           max-width: 700px;
           margin: 0 auto;
           min-width: 550px;
       }
    }
}
