.supermarkets-overview-page {
    & .products {
        & > .container {
            @media (min-width: 768px) {
               padding-top: 60px;
           }
        }

        & .products__list {
            & > li {
                @media (min-width: 768px) {
                    margin-bottom: 35px;
                }
            }
        }
    }
}

.card {
    transition: all 0.3s ease;
    border-radius: 2px 2px 2px 2px;
    overflow: hidden;
    color: $textColor;
    height: 100%;
    display: flex;
    flex-direction: column;
    

    @media (min-width: 992px) {
        &:hover {
            background: #ffffff;
            box-shadow: 0 11px 55px 10px rgba(0, 0, 0, 0.07), 0 13px 18px -8px rgba(0, 0, 0, 0.15);
            & .card__img {
                &:before {
                    width: 45%;
                }
            }
        }
    }

    &__img {
        padding-bottom: 59.4%;
        position: relative;

        @media (max-width: $md4+px) {
            padding-bottom: 0;
            min-height: 220px;
        }

        &:before {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            width: 0;
            height: 12px;
            transition: all .3s ease;
            background: $gradient;
            z-index: 2;
        }
    }

    &__text-wrap {
        padding: 21px 21px 18px;
        flex: 1 1 auto;
    }

    &__title {
        font-family: $berninoSansNarrow;
        font-weight: bold;
        font-size: 20px;
        line-height: 18px;
        margin-bottom: 5px;
    }

    &__group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & .link-icon-right {
            @media (min-width: 992px) {
                &:hover {
                    color: $textColor;
                    text-decoration: underline;
                }
            }
        }
    }

    &__subtitle {
        font-size: 13px;
        line-height: 18px;
        margin-right: 15px;
    }
}
