.products {
    margin-bottom: 112px;
    padding-top: 36px;
    @media (max-width: $md3+px) {
        padding-top: 0px;
        margin-bottom: 50px;
    }

    &.products_listing {
        @media (min-width: 768px) {
            padding-top: 34px;
            margin-bottom: 91px;
        }
        & .products__head {
            text-align: left;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 71px;

            @media (max-width: $md2+px) {
                margin-bottom: 40px;
                display: block;
            }

            & .black-box {
                margin-right: -40px;
                border-radius: 2px 2px 2px 42px;
                position: relative;
                padding: 40px 40px 47px 75px;

                @media (max-width: $md2+px) {
                    padding: 40px;
                }

                @media (max-width: 575.98px) {
                    padding: 30px;
                }

                & .black-box__flex {
                    margin: 0;
                }

                & .black-box__title {
                    font-family: $titleFontFamily;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 1em;
                    margin-bottom: 15px;

                    @media (max-width: $md4+px) {
                        font-size: 28px;
                    }
                }

                & .black-box__col-1 {
                    margin-right: 29px;
                    padding: 0;
                    & > span {
                        font-family: $titleFontFamily;
                        font-weight: 400;
                        flex: 0 0 33px;
                        font-size: 14px;
                        line-height: 16px;
                    }

                    @media (max-width: 575.98px) {
                        margin-right: 0;
                    }

                    & .select__value span {
                        font-size: 11px;
                        line-height: 12px;
                        color: #445870;
                        font-weight: 400;
                    }
                }

                & .black-box__col-2 {
                    flex: 0 0 auto;
                    padding: 0;

                    @media (max-width: 575.98px) {
                        width: 100%;
                    }
                }

                & .btn-default {
                    background-color: transparent;
                    width: 154px;

                    @media (max-width: 575.98px) {
                        width: 100%;
                    }

                    @media (min-width: 992px) {
                        &:hover {
                            background-color: rgba(#fff, 0.2);
                            border-color: #fff;
                        }
                    }
                }

                @media (min-width: 992px) {
                    max-width: 668px;

                    &:before {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 50%;
                        height: 100%;
                        width: 100vw;
                        background-color: #24272a;
                        z-index: 1;
                    }

                    & .black-box__title,
                    & .black-box__flex {
                        z-index: 2;
                    }
                }
            }
        }

        & .products__title {
            margin-right: 30px;
            margin-top: 20px;

            @media (max-width: $md2+px) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

        & .products__filter {
            display: flex;

            @media (max-width: $md4+px) {
                display: block;
            }

            & > *:not(:last-child) {
                margin-right: 33px;

                @media (max-width: $md4+px) {
                    margin-right: 0;
                    margin-bottom: 15px;
                }
            }
        }

        & .products__list {
            @media (min-width: 768px) {
                row-gap: 42px;
                margin-bottom: 71px;
            }
        }
    }

    &.articles_listing {
        @media (min-width: 768px) {
            margin-bottom: 91px;
        }

        & > .container {
            background-color: #fff;
            padding-top: 40px;
            border-radius: 2px;
        }

        & .products__head {
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 28px;
        }

        & .products__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -11.5px;
            column-gap: 0;
            row-gap: 0;

            @media (min-width: 768px) {
                margin-bottom: 71px;
            }

            & > li {
                flex: 0 1 33.333%;
                padding: 0 11.5px;
                margin-bottom: 27px;

                @media (max-width: $md2+px) {
                    flex: 0 1 50%;
                }
                @media (max-width: $md3+px) {
                    flex: 0 1 100%;
                }

                &.big {
                    flex: 0 0 58.2%;

                    @media (max-width: $md2+px) {
                        flex: 0 0 50%;
                    }

                    & .news-card-v2 {
                        position: relative;

                        & .news-card-v2__head {
                            @media (min-width: 992px) {
                                padding: 15px 28px 36px;
                                padding-right: 160px;
                            }
                        }

                        & .news-card-v2__title {
                            @media (min-width: 992px) {
                                font-size: 25px;
                                line-height: 38px;
                                margin-bottom: 15px;
                            }
                        }

                        & .news-card-v2__label {
                            @media (min-width: 992px) {
                                top: 32px;
                                left: 28px;
                            }
                        }

                        & .news-card-v2__subtitle {
                            max-width: 400px;
                        }

                        & .news-card-v2__bottom {
                            @media (min-width: 992px) {
                                position: absolute;
                                right: 29px;
                                bottom: 13px;
                                z-index: 3;

                                & .link-icon-right {
                                    color: #fff;
                                }
                            }
                        }
                    }

                    @media (min-width: 992px) {
                        & .card {
                            position: relative;
                            & .card__bottom {
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                background-color: transparent;
                                z-index: 4;
                            }

                            & .card__head {
                                padding-bottom: 59.7%;
                            }

                            & .link-icon-right {
                                color: #fff;
                            }
                        }
                    }

                    & + li {
                        @media (min-width: 992px) {
                            flex: 0 1 41.8%;

                            & .news-card-v2 {
                                position: relative;

                                & .news-card-v2__img {
                                    padding-bottom: 72%;
                                }

                                & .news-card-v2__head {
                                    padding: 15px 28px 36px;
                                }

                                & .news-card-v2__label {
                                    top: 32px;
                                    left: 28px;
                                }
                                & .news-card-v2__title {
                                    font-size: 20px;
                                    line-height: 28px;
                                    margin-bottom: 10px;
                                }
                            }

                            & .card {
                                & .card__head {
                                    padding-bottom: 0;
                                    flex: 1 1 auto;
                                }

                                & .card__text-wrap {
                                    text-align: left;
                                }
                            }
                        }

                        @media (max-width: $md2+px) {
                            & .news-card-v2__subtitle {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    &:not(.products_listing):not(.articles_listing) {
        & .products__list {
            display: none;

            &.active {
                display: grid;
            }
        }
    }

    &__head-select-label {
        font-size: 13px;
        line-height: 1.2em;
        font-weight: 700;
        flex: 0 0 auto;
        margin-right: 25px;
    }

    &__head {
        text-align: center;
        margin-bottom: 50px;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 23px;
        row-gap: 25px;
        margin-bottom: 47px;

        @media (max-width: $md2+px) {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 50px;
        }

        @media (max-width: $md3+px) {
            grid-template-columns: repeat(1, 1fr);
            margin-bottom: 25px;
        }

        & > li {
            &.big {
                @media (min-width: 992px) {
                    grid-column: span 2;

                    & .card-product {
                        position: relative;
                        overflow: hidden;
                        border-radius: 2px 2px 0 0;
                        & .card-product__img {
                            padding-bottom: max(46%, 300px);
                        }

                        & .card-product__bottom {
                            position: absolute;
                            z-index: 2;
                            bottom: 0;
                            right: 0;
                            background: #fbfbfb;
                            border-radius: 2px 2px 0px 0;
                            margin-left: 250px;
                        }
                    }
                }
            }

            &:not(.big) {
                @media (min-width: 992px) {
                    &:nth-child(3n + 2) {
                        & .card-product__head,
                        & .card__text-wrap {
                            text-align: center;
                        }
                    }
                    &:nth-child(3n + 3) {
                        & .card-product__head,
                        & .card__text-wrap {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }

    &__bottom {
        & .text-block {
            max-width: 808px;
            display: flex;
            flex-direction: column;
            padding-top: 0;
            padding-bottom: 0;
            font-weight: 500;
            & .btn-default {
                align-self: center;
                margin-top: 33px;
            }
        }
    }
}

.card-product {
    display: block;
    border-radius: 0 0 2px 2px;
    background-color: #fbfbfb;
    overflow: hidden;
    transition: all 0.3s ease;
    color: $textColor;
    @media (min-width: 992px) {
        &:hover {
            box-shadow: 0 11px 55px 10px rgba(0, 0, 0, 0.07), 0 13px 18px -8px rgba(0, 0, 0, 0.15);
        }
    }
    &__img {
        padding-bottom: 59.4%;

        @media (max-width: $md4+px) {
            padding-bottom: 0;
            min-height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    &__label {
        position: absolute;
        top: 20px;
        left: 18px;
    }

    &__head {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 3;
        padding: 0px 20px 0px;
        color: #ffffff;
        width: 100%;

        @media (max-width: $md4+px) {
            position: relative;
        }
    }

    &__title {
        font-family: $titleFontFamily;
        font-size: 32px;
        font-weight: 400;
        line-height: 1em;
        text-transform: uppercase;
    }

    &__subtitle {
        font-size: 11px;
        line-height: 1.4em;
        position: absolute;
        top: 0;
        left: 20px;
        right: 20px;
        transform: translateY(-100%);
        font-weight: 400;
        text-transform: uppercase;
    }

    &__bottom {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        min-height: 50px;
        padding: 10px 20px 10px 20px;
        justify-content: space-between;
        @media (min-width: 992px) {
            padding-right: 29px;
        }
    }

    &__bottom-item {
        margin: 10px 0;
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 1.2em;

        &:not(:last-child) {
            margin-right: 20px;
        }

        & img {
            max-height: 15px;
            width: auto;
            margin-right: 10px;
        }
    }
}
