.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 50;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;

	&.open {
		opacity: 1;
		visibility: visible;

		& .popup_content {
			opacity: 1;
		}
	}

	&_body {
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}

	&_content {
		min-height: 100%;
		flex: 1 1 auto;
	}

	&__map {
		height: 100%;
		width: 100%;
		background-color: #c4c4c4;
		max-width: 1500px;
		margin: auto;
		
		@media (min-width: 768px) {
			max-height: 80%;

		}
	}
}
.popup-map {
	display: flex;
	align-items: center;
	justify-content: center;
	& .head-gallery__close {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 2;
		background-color: rgba(#000, 0.2);

		@media (min-width: 992px) {
			&:hover {
				background-color: rgba(#000, 0.3);
			}
		}

		& > span {
			height: 25px;
			width: 25px;
		}
	}
}
.popup-gallery {
	padding-top: 150px;
	display: flex;
	flex-direction: column;

	@media (max-width: $md3+px) {
		padding-top: 110px;
	}
	&__top {
	}

	&__content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		width: 100%;

		& .popup-gallery-slider {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			min-width: 0;
		}

		& .popup-gallery-slider__main {
			flex: 1 1 auto;
			display: flex;
				flex-direction: column;
			min-width: 0;
			max-height: 800px;

			@media (max-width: $md3+px) {
				flex: 0 1 auto;
			}

			& .swiper-container {
				flex: 1 1 auto;
				display: flex;
				flex-direction: column;
				min-width: 0;
				width: 100%;
			}

			& .swiper-wrapper {
				flex: 1 1 auto;
				min-width: 0;
			}

			& .swiper-slide {
				height: 500px;
				min-width: 0;

				@media (max-width: $md3+px) {
					height: 400px;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				& img {
					max-width: 100%;
					max-height: 100%;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
					height: auto;
					object-fit: contain;

					@media (max-width: $md3+px) {
						position: static;
						transform: translate(0%, 0%);
					}
				}
			}
		}
	}
}

.head-gallery {
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	&__body {
		min-height: 100px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 10px;
		padding-bottom: 10px;

		@media (max-width: $md3+px) {
			min-height:70px;
		}
	}

	&__logo {
		width: 100%;
		max-width: 79px;

		@media (max-width: $md4+px) {
			max-width: 47px;
		}

		& img {
			width: 100%;
		}
	}

	&__total-img {
		margin: 0 20px;
		&.link-icon-left {
			color: #fff !important;
		}
	}

	&__total {
		margin-left: 5px;
	}

	&__close {
		padding: 5px;
		transition: all 0.3s ease;
		cursor: pointer;

		@media (min-width: 992px) {
			margin-right: 13px;
			&:hover {
				background-color: rgba(#fff, 0.1);
			}
		}

		& > span {
			position: relative;
			width: 18px;
			height: 18px;
			transform: rotate(45deg);
			display: block;
			&:before {
				position: absolute;
				content: "";
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 2px;
				height: 100%;
				background-color: #fff;
			}
			&:after {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 100%;
				height: 2px;
				background-color: #fff;
			}
		}
	}
}


.popup-gallery-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -11.5px 50px;

	&__item {
		padding: 0 11.5px;
		margin-bottom: 20px;
		flex: 0 1 33.333%;

		@media (max-width: $md3+px) {
			flex: 0 1 50%;
		}
	}

	&__img {
		padding-bottom: 59.4%;
		display: block;
		transition: all .3s ease;

		@media (min-width: 992px) {
			&:hover {
				box-shadow: 0 0 20px rgba(#000, 0.2);
			}
		}
	}
}
