.pagging {
    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        & > li {
            margin: 0 2.5px 5px;
        }
    }

    &__item {
        border: 1px solid #000;
        height: 36px;
        min-width: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 4px 3px;
        font-weight: 400;
        font-size: 12px;
        color: #000;
        transition: all .3s ease;

        @media (min-width: 992px) {
            &:hover {
                &:not(.active) {
                    background: rgba(142, 142, 142, 0.6);
                }
            }
        }

        &.active {
            background-color: #000;
            color: #fff;
        }
    }
}
